<html>
    <h1>
        CS50’s Introduction to Programming with Python
    </h1>
    <p1>
        These problem sets are available at: <a href="https://cs50.harvard.edu/python/psets/">https://cs50.harvard.edu/python/psets/</a>
    </p1>
 
</html>

<h3>
    Problem Set 3
</h3>

<h4>
    FuelGauge
</h4>

```sql
Fuel gauges indicate, often with fractions, just how much fuel is in a tank. For instance 1/4 indicates that a tank is 25% full, 1/2 indicates that a tank is 50% full, and 3/4 indicates that a tank is 75% full.

In a file called fuel.py, implement a program that prompts the user for a fraction, formatted as X/Y, wherein each of X and Y is a positive integer, and then outputs, as a percentage rounded to the nearest integer, how much fuel is in the tank. If, though, 1% or less remains, output E instead to indicate that the tank is essentially empty. And if 99% or more remains, output F instead to indicate that the tank is essentially full.

If, though, X or Y is not an integer, X is greater than Y, or Y is 0, instead prompt the user again. (It is not necessary for Y to be 4.) Be sure to catch any exceptions like ValueError or ZeroDivisionError.
```

In [18]:
def fuel_guage():
    x1=0
    y1=0
    while True:
        try:
            X,Y=input('Fraction: ').split("/")
            x1=int(X)
            y1=int(Y)
            if x1>y1 or y1==0 or x1<0 or y1<0:
                raise ValueError
            if x1/float(y1)>= 0.99 and x1/float(y1)<= 1.00:
                print('F')
            elif x1/float(y1) >= 0.00 and x1/float(y1)<=0.01:
                print('E')
            elif x1/float(y1) > 0.01 and x1/float(y1)<0.99:
                print(f'{int(x1/float(y1)*100)}%')
            break
        except (ValueError,ZeroDivisionError):
            pass

<h6>
    Test Cases
</h6>

In [19]:
fuel_guage()

Fraction:  1.5/3
Fraction:  -3/4
Fraction:  5/4
Fraction:  1/4

25%

In [9]:
fuel_guage()

Fraction:  cat/dog
Fraction:  1/4

25%

In [10]:
fuel_guage()

Fraction:  4/4

F

In [11]:
fuel_guage()

Fraction:  0/4

E

In [20]:
fuel_guage()

Fraction:  4/0
Fraction:  0/4

E

<h4>
    Felipe’s Taqueria
</h4>

```sql
One of the most popular places to eat in Harvard Square is Felipe’s Taqueria, which offers a menu of entrees, per the dict below, wherein the value of each key is a price in dollars:

{
    "Baja Taco": 4.25,
    "Burrito": 7.50,
    "Bowl": 8.50,
    "Nachos": 11.00,
    "Quesadilla": 8.50,
    "Super Burrito": 8.50,
    "Super Quesadilla": 9.50,
    "Taco": 3.00,
    "Tortilla Salad": 8.00
}
In a file called taqueria.py, implement a program that enables a user to place an order, prompting them for items, one per line, until the user inputs control-d (which is a common way of ending one’s input to a program). After each inputted item, display the total cost of all items inputted thus far, prefixed with a dollar sign ($) and formatted to two decimal places. Treat the user’s input case insensitively. Ignore any input that isn’t an item. Assume that every item on the menu will be titlecased.
```

In [32]:
def felipe_taqueria():
    prices={
    "Baja Taco": 4.25,
    "Burrito": 7.50,
    "Bowl": 8.50,
    "Nachos": 11.00,
    "Quesadilla": 8.50,
    "Super Burrito": 8.50,
    "Super Quesadilla": 9.50,
    "Taco": 3.00,
    "Tortilla Salad": 8.00
    }
    total=0.00
    while True:
        try:
            inp=input('Item: ').strip().title()
            if inp  in prices:
                total=total+prices[inp]
                print(f'${total}')
            else:
                ValueError
        except EOFError:
            break
        except (ValueError, KeyError):
            pass

<h6>
    Test Cases
</h6>

In [ ]:
felipe_taqueria()

<h4>
    Grocery ist
</h4>

```sql
Suppose that you’re in the habit of making a list of items you need from the grocery store.

In a file called grocery.py, implement a program that prompts the user for items, one per line, until the user inputs control-d (which is a common way of ending one’s input to a program). Then output the user’s grocery list in all uppercase, sorted alphabetically by item, prefixing each line with the number of times the user inputted that item. No need to pluralize the items. Treat the user’s input case-insensitively.
```

In [ ]:
def grocery_list():
    things={}
    while True:
        try:
            text=input()
        except EOFError:
            break
        else:
            things[text]=things.get(text,0)+1
    things=dict(sorted(things.items()))
    for key, value in things.items():
        print(value, key.upper())

In [ ]:
grocery_list()

<h4>
    Outdated
</h4>

```sql
In the United States, dates are typically formatted in month-day-year order (MM/DD/YYYY), otherwise known as middle-endian order, which is arguably bad design. Dates in that format can’t be easily sorted because the date’s year comes last instead of first. Try sorting, for instance, 2/2/1800, 3/3/1900, and 1/1/2000 chronologically in any program (e.g., a spreadsheet). Dates in that format are also ambiguous. Harvard was founded on September 8, 1636, but 9/8/1636 could also be interpreted as August 9, 1636!

Fortunately, computers tend to use ISO 8601, an international standard that prescribes that dates should be formatted in year-month-day (YYYY-MM-DD) order, no matter the country, formatting years with four digits, months with two digits, and days with two digits, “padding” each with leading zeroes as needed.

In a file called outdated.py, implement a program that prompts the user for a date, anno Domini, in month-day-year order, formatted like 9/8/1636 or September 8, 1636, wherein the month in the latter might be any of the values in the list below:

[
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
]
Then output that same date in YYYY-MM-DD format. If the user’s input is not a valid date in either format, prompt the user again. Assume that every month has no more than 31 days; no need to validate whether a month has 28, 29, 30, or 31 days.
```

In [68]:
from datetime import datetime

In [80]:
current_year = datetime.now().year
type(current_year)

int

In [83]:
def outdated():
    current_year = datetime.now().year
    months=[
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"]
    while True:
        try:
            text=input('Date: ')
            if '/' in text:
                a,b,c=text.split('/')
                m,d,y=int(a),int(b),int(c)
            else:
                a,b,c=text.split(' ')
                y=int(c)
                if a in months:
                    x,p=b.split(',')
                    d=int(x)
                    m=months.index(a)+1
                else:
                    raise ValueError
            if m<=0 or m>=13 or y > current_year or y<0 or d<=0 or d>=31:
                raise ValueError
            else:
                print(f'{y:04d}-{m:02d}-{d:02d}')
                break

        except ValueError:
            pass

<h6>
    Test Cases
</h6>

In [82]:
outdated()

Date:  September 8, 1636

1636-09-08

In [84]:
outdated()

Date:  9/8/1636

1636-09-08

In [85]:
outdated()

Date:  23/6/1912
Date:  December 80, 1980
Date:  9/25/1919

1919-09-25

#### End