#### Loading a Dataset

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('../Excel_Overwrite.csv')

In [9]:
df

     Months         Sales
0   2018-01  12435.000000
1   2018-02  11191.500000
2   2018-03  10072.350000
3   2018-04   9065.115000
4   2018-05   8158.603500
5   2018-06   7342.743150
6   2018-07   6608.468835
7   2018-08   5947.621952
8   2018-09   5352.859756
9   2018-10   4817.573781
10  2018-11   4335.816403
11  2018-12   3902.234762

In [8]:
df['Months'].value_counts()

2018-11    1
2018-05    1
2018-04    1
2018-01    1
2018-06    1
2018-08    1
2018-10    1
2018-02    1
2018-12    1
2018-09    1
2018-03    1
2018-07    1
Name: Months, dtype: int64

In [10]:
df['Sales'].sum()

89229.887139

In [11]:
df.sum()

Months    2018-012018-022018-032018-042018-052018-062018...
Sales                                               89229.9
dtype: object