#### Change the datatypes

In [2]:
import pandas as pd

#### Series

In [3]:
s = pd.Series(["8", 6, "7.5", 3, "0.9"])

In [4]:
pd.to_numeric(s)

0    8.0
1    6.0
2    7.5
3    3.0
4    0.9
dtype: float64

#### Dataframes

In [ ]:
#Converting datatype of 1 column
df["a"] = pd.to_numeric(df["a"])

In [ ]:
# to convert all columns of DataFrame
df = df.apply(pd.to_numeric) # convert all columns of DataFrame

In [6]:
### Error Handlling

pd.to_numeric(s, errors='coerce')

# It will coonvert any error value to NaN

0    8.0
1    6.0
2    7.5
3    3.0
4    0.9
dtype: float64

In [ ]:
# Conversion with to_numeric() will give you either a int64 or float64 dtype:
#if you wanted to save some memory and use a more compact dtype, like float32, or int8 then you can downgrad it

pd.to_numeric(s, downcast='integer')

In [ ]:
#Converting to float value
pd.to_numeric(s, downcast='float')

In [ ]:
# convert all DataFrame columns to the int64 dtype
df = df.astype(int)

In [ ]:
# convert Series to float16 type
s = s.astype(np.float16)

In [ ]:
# convert Series to categorical type - see docs for more details
s = s.astype('category')

#### Merging 2 dataframes in Pandas

In [ ]:
pandas.merge(df1, df2, how='left', left_on=['id_key'], right_on=['fk_key'])

#### Sorting values baed on multiple columns

In [ ]:
df = df.sort_values(by=['c1','c2'], ascending=[False,True])

#### Renaming the column names

In [ ]:
df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
# Or rename the existing DataFrame (rather than creating a copy) 
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

#### Shuffle the list in a significant way

In [8]:
from random import shuffle
a=[1,2,3,4,6]
shuffle(a)
print(a)

[2, 3, 6, 1, 4]

### Resampling the datasets

In [ ]:
df.speed.resample() #will be used to resample the speed column of our DataFrame
#The 'W' indicates we want to resample by week. At the bottom of this post is a summary of different time frames.
#mean() is used to indicate we want the mean speed during this period.

In [ ]:
weekly_summary = pd.DataFrame()
weekly_summary['speed'] = df.speed.resample('W').mean()
weekly_summary['distance'] = df.distance.resample('W').sum()
weekly_summary['cumulative_distance'] = df.cumulative_distance.resample('W').last()

In [ ]:
#http://benalexkeen.com/resampling-time-series-data-with-pandas/

### SQRT Code

In [ ]:
from math import sqrt

def stddev(lst):
    mean = float(sum(lst)) / len(lst)
    return sqrt(float(reduce(lambda x, y: x + y, map(lambda x: (x - mean) ** 2, lst))) / len(lst))

In [ ]:
### Lambda Function

<h6>lambda operator or lambda function is used for creating small, one-time and anonymous function objects in Python.</h6>

In [ ]:
lambda operator can have any number of arguments, but it can have only one expression.

eg:
    lambda x, y : x + y

In [ ]:
Mostly lambda functions are passed as parameters to a function which expects a function objects as parameter like map, reduce, filter functions

<h6>map functions expects a function object and any number of iterables like list, dictionary, etc.</h6>

In [ ]:
map(function_object, iterable1, iterable2,...)

In [ ]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
map(lambda x, y: x + y, list_a, list_b) # Output: [11, 22, 33]

In [ ]:
#map function returns an iterator or map object which gets lazily evaluated. 
#We can force convert the map output i.e. the map object to list 
map_output = map(lambda x: x*2, [1, 2, 3, 4])
print(map_output) # Output: map object: <map object at 0x04D6BAB0>

list_map_output = list(map_output)

<h6>filter function expects two arguments, function_object and an iterable. function_object returns a boolean value.</h6>

In [ ]:
function_object is called for each element of the iterable and 
filter returns only those element for which the function_object returns true.

In [ ]:
Like map function, filter function also returns a list of element. 
Unlike map function filter function can only have one iterable as input.